<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit your chat</title>
</head>
<body>
    <h3>edit your chat <%=chat._id%></h3>
    <p>this chat was sent from:<b><%= chat.from %></b>  <br> to: <b><%= chat.to %></b></p>
    <form method="POST" action="/chats/<%=chat._id%>?_method=PUT" >    
        <textarea rows="5" cols="40" name="Newmessage"><%= chat.message %></textarea><br>
        <button type="submit">edit chat</button>
    </form>
   

</body>
</html>